@mixin flexbox( 

$direction: row, 
$justify: space-between, 
$items: flex-start, 
$gap: 0,
) 


 { 
display: flex; 
flex-direction: $direction; 
justify-content: $justify; 
align-items: $items; 
gap: $gap;
}